body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial';
    background: #fff repeat center top;
    line-height: 1;
}



#container {
    display: flex;
    width: 900px;
    height: 754px;
}

#search-input {
    border-radius: 0 10px 0 0;
     
}