body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial';
    background: #fff;
    line-height: 1;
    margin: 0;
}
/* Header */

#header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 105px;
    background: linear-gradient(180deg, rgba(152,152,152,1) 89%, rgba(192,192,192,1) 100%);
}

#header > #logo {
    position: relative;
    top: 25px;
    left: 75px;
}

#search-box {
    position: relative;
    top: -60px;
    right: 830px;
}

#search-box > #search-input {
    position: relative;
    width: 132px;
    height: 19;
    top: -5px;
    right: 3px;
    border-top-right-radius: 10px;
}

#search-box > a {
    position: relative;
    top: -6px;
    font-size: 12px;
}

#main-menu {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    width: 750px;
    height: 30px;
}

.sub-menu:hover .items-menu {
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 30px;
    padding: 0;
    margin: 3px;
    width: 150px;
}


#search-box > a,
.sub-menu,
.items-menu > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}


#search-box > a:hover,
.sub-menu:hover,
.items-menu > li > a:hover  {
    color: blue;
    text-decoration: underline;
}


#nav {
    position: relative;
    height: 35px;
    left: 110px;
}

#home-btn,
.items-menu > li,
.sub-menu {
    list-style: none; 
}

.sub-menu > .items-menu {
    display: none;
} 

.items-menu > li {
    text-align: right;
    padding: 4px;
    text-decoration: none;
    border-bottom: 1px solid white;
    height: 25px;  
}

.items-menu {
    background: linear-gradient(3deg, rgba(152,152,152,1) 89%, rgba(192,192,192,1) 100%);
}

.items:hover {
    background-color: #C0C0C0;
}

/* About-us Section */

section#about-us {
    display: flex;
    justify-content: center;  
}

#about-us > figure > figcaption {
    position: relative;
    top: -105px;
    right: 5px;
    width: 238px;
    height: 77px;
    padding: 10px;
    font-size: 13px;
    color: white;
    background-color: rgb(128, 128, 128, 0.9);
    border-bottom-right-radius: 15px;
}

section > figure {
    margin: 5px;
}

#about-us > figure > img {
    border-bottom-right-radius: 15px;
    padding: 30px 0 0 0;
    margin: auto;
}


#trade-txt > .read-more,
#trade-txt > .read-more-img {
    top: 1px;
} 

#refining-txt > .read-more,
#refining-txt > .read-more-img {
    top: 14px;
}


#about-us h3 {
    margin: 0;
    font-size: 14px;
}

#about-us p {
    margin: 0;
    padding: 2px;
}

figcaption > .read-more,
figcaption > .read-more-img {
    position: relative;
    right: 180px;
    color: white;
}


figcaption a:hover {
    color: blue;
}

/* Section Ads */

#ads {
    display: flex;
    justify-content: center;
}

#ads > section {
box-sizing: border-box;
position: relative;
 width: 285px;
 height: 216px;
 border: 1px solid silver;
 margin: 10px;
 top: -100px;
 left: 2px;
 padding: 12px;
 background: linear-gradient(69deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 67%);
 border-top-right-radius: 15px;
}

#ads > section > h3 {
    position: relative;
    top: -15px;
    font-size: 15px;
    border-bottom: 0.5px solid silver;
    padding-bottom: 10px;
}


#ads > section#stations-map #map-img {
   position: relative;
   top: -30px;
   left: -170px;
}

#stations-map  #locations-text {
    display: flex;
    flex-direction: column;
}
#stations-map #locations-text > .locations {
    position: relative;
    top: -190px;
    padding: 5px;
}

#credit-card #card-pic,
#changing-content #changing-img {
    position: relative;
    top: -18px; 
}

#credit-card #credit-card-text,
#changing-content #changing-text {
    position: relative;
    left: -140px;
}

#credit-card #credit-card-text a,
#changing-content #changing-text a,
#our-locations #locations-text a {
    font-size: 13px;
    color: grey;
}

#credit-card #credit-card-text a:hover,
#changing-content #changing-text a:hover,
#our-locations #locations-text a:hover {
   color: blue; 
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    background: linear-gradient(0deg, rgba(152,152,152,1) 78%, rgba(192,192,192,1) 92%);
}

#footer-nav > ul {
    display: flex;
    justify-content: center;
}

#footer-nav > ul li{
   list-style: none;
   margin-right: 6px;
}
.bottom-items > a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.bottom-items > a:hover {
    color: blue;
    text-decoration: underline;
}
